---
import Layout from '@layouts/Layout.astro';

const response = await fetch('https://kings-league-api.maridev.workers.dev/teams')
const teams = await response.json()
---

<Layout title="Kings League.">
  <div class="container m-auto">
    <header class="flex">
      {teams.map(({ id, image, name }) => (
        <a href={`/team/${id}`}>
          <img class='aspect-square w-12' src={image} alt={`Escudo del equipo ${name}`} />
        </a>
      ))}
      <nav>
        <ul>
          <li>
            <a href="/equipos">Equipos</a>
          </li>
          <li>
            <a href="/calendario">Calendario</a>
          </li>
          <li>
            <a href="/estadisticas">Estadisticas</a>
          </li>
          <li>
            <a href="/contacto">Contacto</a>
          </li>
          <li>
            <a href="/reglamento">Reglamento</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>

    </main>
  </div>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
</style>
